
html{
    scroll-behavior: smooth;/*плавно перелистывает страницу при нажатии на кнопки */
}


body {
    font-family: 'Arial', sans-serif;
    background: url('img/fon.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.header { /*ПЕРВЫЙ БЛОК*/
    padding: 20px; /*высота блока*/
    display: flex;
    justify-content: space-between;/*Элементы прижимаются к краям*/
    align-items: center;/*выстраивает элементы по центру блока*/
}

.logo {/*ПЕРВЫЙ БЛОК*/
    font-size: 24px;/* размер логотипа*/
    font-weight: bold;/*делает жирнее лого*/
    color: #6A3BFF;/*цвет лого */
}

.logo2{
    position: absolute;/*без этого не перемещается*/
    right: 89%;/*перемещает лого фото*/
}

.nav a {/*для кнопок навигации*/
    margin-left: 20px;/*расстояние между кнопками в бок*/
    text-decoration: none;/*убирает подчеркивание под кнопками*/
    color: #ffffff;/*цвет*/
    transition: color 0,98s; /*меняет цвет кнопок навигации*/
}

.nav a:hover {/*делает переход*/
    color: rgb(106, 59, 255);
    display: inline-block;
    transition: transform 0.3s;/*скорость трансформировки*/
    transform: scale(1.17); /*увеличивает размер кнопок*/
}




.hero {
    text-align: center;
    padding: 100px 20px;/*1-высота блока 2- высота*/
    background: url('img/banner.jpg') no-repeat center/cover;
}

.hero h1 {
    font-size: 48px; /*высота шрифта*/
    margin-bottom: 20px;/*отступ под элементами*/
}

.hero p {
    font-size: 20px;/*размер текста*/
    margin-bottom: 30px;/*отступ снизу от текста*/
}

.btn {/*Кнопка узнать больше*/
    padding: 15px 30px;
    background-color: #6A3BFF;/*фон кнопки*/
    color: #000;/*Цвет букв*/
    text-decoration: none;/*убирает подчеркивание*/
    font-weight: bold;/*делает бкувы жирнее*/
    border-radius: 5px;/*закругляет кнопку*/
}

.allProducts{
    padding: 60px 20px; /*Дает внутренние отступы для элемента: 60px сверху и снизу , 20px слева и справа*/
    text-align: center;/*все по центру*/
}



.allProducts h2 {
    margin-bottom: 40px ;
}


.products {
    padding: 60px 20px; /*Дает внутренние отступы для элемента: 60px сверху и снизу , 20px слева и справа*/
    background-image: #020201;
    text-align: center;/*все по центру*/
}

.products h2 {
    margin-bottom: 40px;/*отступ с низу в вверх*/
}

.product-list {/*блок с напитками*/
    display: flex;/*элементы выстраиваются по центру*/
    flex-wrap: wrap;/*Каждая картинка на новой строке*/
    gap: 30px;/*небольшие отступы между блоками*/
}

.product {
    padding: 20px;/*отступы картинок от верхнего блока */
    border-radius: 10px;/*закругляет описанный блок(картинка которя в блоке)*/
    width: 2500px;/*высота блоков(в которых картинки)*/
}

.product img {
    max-width: 100%;
    height: auto;/*делает картинки одинаковые красивый по ширине*/
    margin-bottom: 15px;/*отступы снизу от картинки*/
}

/* Картинка после блока "Лидеры продаж"  */
.condi-image {
    padding: 60px 20px; /*отступы сверху и по бокам*/
    text-align: center; /*выровнено по центру*/
}

.about {
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.footer {
    padding: 30px 20px;
    text-align: center;
}

.footer .socials a {
    color: #6A3BFF;
    text-decoration: none;
    margin: 0 10px;
}



















